.portfolio {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 24px 0;
  height: 100%;
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
  &__item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    list-style: none;
  }
  &__gallery-item {
    padding: 15px;
    flex-basis: 25%;
    max-width: 25%;
    cursor: pointer;
  }
  .list {
    &-move {
      transition: all 600ms ease-in-out 50ms;
    }
    &-enter-active {
      transition: all 500ms ease-out;
    }

    &-leave-active {
      transition: all 500ms ease-in;
      position: absolute;
      z-index: 0;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
    &-enter {
      transform: scale(0.9);
    }
  }
}
